.container {
  display: flex;
  width: 18px;
  height: 20px;
  justify-content: space-between;
}

.vertLine {
  background-color: rgb(158, 158, 158);
  width: 2px;
  position: relative;
  border-radius: 2px;
}

.horLine {
  width: 6px;
  height: 2px;
  left: -2px;
  position: absolute;
  background-color: rgb(211, 211, 211);
}

.container:hover .horLine1 {
  animation: top-to-down 500ms
}

.container:hover .horLine2 {
  animation: down-to-top 500ms
}

.container:hover .horLine3 {
  animation: top-to-down 500ms
}

.horLine1 {
  top: 8px;
}

.horLine2 {
  top: 12px;
}

.horLine3 {
  top: 5px;
}

@keyframes down-to-top{
  50% {
    transform: translateY(-5px);
  }
}

@keyframes top-to-down {
  50% {
    transform: translateY(5px);
  }
}

