.popup {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: rgba(49, 49, 49, 0.95);
  border: 1px solid rgb(99, 99, 99);
  border-radius: 8px;
  max-width: 380px;
  width: 380px;
  padding: 30px;
  transition: opacity 370ms ease, visibility 370ms ease
}
.popup.opacityFull {
  opacity: 1;
}

.popup.opacityZero {
  opacity: 0;
  visibility: hidden;
}